VK/VK.xcodeproj/project.xcworkspace/xcuserdata/alenabenetckaya.xcuserdatad/UserInterfaceState.xcuserstate
VK/VK.xcodeproj/xcuserdata/alenabenetckaya.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
VK/VK/Assets.xcassets/AppIcon.appiconset/Contents.json
